<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include /index.include.css
    title Pay Me Your Money: Confirm your transaction
  body
    .logo-left
      span.part-1 Pay
      span.part-2 MeYourMoney
    form(action="/", method="get")
      button.back(type="submit") Back
    .greetings #{title}
      .description #{message}
    .content
    .footer ©2019 Paymeyourmoney, Inc. All rights reserved.
      | <br> We type of love using new technologies...