<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include /index.include.css
    title Sign Up for Pay Me Your Money: Create a Business or Personal Account Now With Pay Me Your Money
  body
    .logo-left
      span.part-1 Pay
      span.part-2 MeYourMoney
    form.sign-up-form(method="post")
      div
        .logo
          span.part-1 Pay
          span.part-2 MeYourMoney
        .header
          .wrapper
            span See for yourself why millions of people love PayMeYourMoney - Sign up for free
        .fields
          div
            input(type="text", name="name", placeholder="Username" required="required" pattern="[\-_a-zA-Z0-9]+")
          div
            input(type="password", name="password" placeholder="Password" required="required" pattern="[\-_a-zA-Z0-9]+")
        .submit
          button(type="submit") Next
    .footer ©2019 Paymeyourmoney, Inc. All rights reserved.
      | <br> We type of love using new technologies...


      
